body {
    background: #E8E8E8;
}

#vision-board {
    margin: 50px auto;
    width: 1200px;
    height: 850px;
    overflow: auto;
    background: url('../img/background.png');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
	font-weight: 700;
    text-transform: uppercase;
}

.block {
    float: left;
    box-sizing: border-box;
    width: 400px;
}

.small-block {
    padding: 20px 40px;
    height: 210px;
}
.large-block {
    height: 430px;
    padding: 76px 41px;
    /*** padding: 76px 10px 76px 41px;***/
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
    text-align: right;
}

.light-bg {
    background-color: #ffffff;
}

.dark-bg {
    background-color: #3B3B3B;
}

h2 {
    color: #ffffff;
    font-size: 28px;
    margin-top: 0px;
 }

h3 {
    font-family: 'Permanent Marker', cursive;
    color: #ffffff;
    font-size: 27px;
    margin-bottom: 0px;
}

.highlight {
    background-color: #FFF44F;
    padding: 7px;
}


p {
    margin-bottom: 0px;
}

h1 {
    /*** line-height: 0px;***/
    margin-top: -4px;
    text-transform: none;
    font-size: 38px;
}

/*** started 2-5-22 ***/